.container {
    display: flex;
    height: 100%;
    width: 100%;
    color: rgb(87, 86, 86);
}

.container-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logIn-input {
    border: none;
    border-bottom: 1px solid grey;
    background-color: transparent;
    height: 30px;
    width: 100%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    color: white;
    margin-top: 20px;
    border: none;
    font-weight: bold;
}

.logIn {
    background-color: #7885ee;
}

.logIn-google {
    background-color: #ff7900;
    font-weight: bold;
}

.btn svg {
    height: 90%;
    aspect-ratio: 1/1;
    margin-left: -34px;
}
.login-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    padding: 5%;
}

/* .signIn-link {
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: red;
  font-size: 180px;
} */
