.container {
    
    overflow-y: hidden;
    width: 94vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffff;
    position: absolute;
    left: 100px;
    margin-top: 0.25%;
    padding: 20px;
    box-shadow: 0px 0px 5px rgb(204, 202, 202);
    border-radius: 5px 5px 0px 0px;
    background-color: rgba(255, 255, 255, 0.244);
}
.subcontainer-left {
    display: flex;
    align-items: center;
    color: black;
    font-weight: bold;
}
.subcontainer-left p {
    margin-left: 10px;
}

.subcontainer-right {
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    font-weight: bold;
}
@media (max-width:480px){
    .container{
        width:100vw;
        /* background:red; */
        left:0px;
        padding:5px;
        height:6vh;
    }
    .subcontainer-right {
        width:40vw;
    }
    .subcontainer-left p {
        margin-left:0px;
    }
}