.container {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 2.5vh;
    left: 1%;
    background-color: #7885ee;
    border-radius: 5px;
    padding: 10px 10px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 50%;
}
