.container {
    height: 99%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translate(5%, -50%);
    background-color: #7885ee;
    border-radius: 5px;
    padding: 25px 16px 10px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 50%;
}
