.container {
    height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0.5vh;
    left: 0.5%;
    background-color: #7885ee;
    border-radius: 5px;
    padding: 25px 17.5px 5px 17.5px;
    /* box-shadow: 0px 0px 10px grey, 0px 0px 3px white inset; */
    box-shadow: 0px 0px 5px rgb(204, 202, 202), 0px 0px 3px white inset;
}


.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 60%;
}
.logout {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


@media (max-width:480px){
    .container{
        /* background:red; */
        width:100vw;
        height:6vh;
        flex-direction:row;
        top:auto;
        padding:0;
        bottom:0vh;
        z-index:1;
    }
    .list{
        min-height:4vh;
        flex-direction:row ;
        justify-content: space-between  ;
        width:90vw;
    }
    .logout{
        margin-bottom:0px;
          
        
        
    }

}